extends ./layout/index



block slider
    .slider
        h1 Rio de janeiro
        em Aventura


block contenido
    main.container.my-5
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5 
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis obcaecati harum corrupti illo ducimus. Facilis soluta voluptates, cum autem, tempore illo veritat
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit esse nihil quas praesentium dolor facilis maiores ipsa obcaecati eaque iusto v
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="nosotros inicio", class="img-fluid")

        include ./layout/bloque_viaje

    .descuento
        .container
            .row 
                .col-md-6 
                    .contenido.text-center
                        h3 5% de Descuento
                        p.titulo Viaje a canada 
                        p.fecha 20 de marzo de 2022 - 28 de marzo de 2022
                        p.precio $2,500 USD
    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales