extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                
                blockquote Loimi iure est facere rat, nobis cum iure beatae naectetur.  laudantium exert facere rat, nobis cum iumolestias eveniet pot facere rat, nobis cum iu molestias eveniet pot facere rat, nobis cum iu
                
                p Lorem ipsum dolor sit amet molestias eveniet pot facere rat, nobis cum iu amet molestias eveniet pot facere rat, nobis cum i t mole
                p Lorem ipsum dlestiae. r sit amet molestias evamet molestias eveniet pot facere rat, nobis cum i t molestias evamet molestias 
        
        .listado-iconos
            .container.mt-5.py-5.text-center
                .row 
                    .col-md-4 
                        img(src="img/icono_seguridad.svg", alt="icono de seguridad", class="img-fluid mb-4")
                        h2.mb-4 Seguridad 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae molestias quae t molestias evamet molestias eveniet pot facere rat, nobis cum i
                    
                    .col-md-4 
                        img(src="img/icono_destinos.svg", alt="icono de destinos", class="img-fluid mb-4")
                        h2.mb-4 Mejores destinos
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae molestias quae t molestias evamet molestias eveniet pot facere rat, nobis cum i
                    
                    .col-md-4 
                        img(src="img/icono_precios.svg", alt="icono de precios", class="img-fluid mb-4")
                        h2.mb-4 Mejores precios
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae molestias quae t molestias evamet molestias eveniet pot facere rat, nobis cum i